<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}">
  
  <!-- Cards / OpenGraph, Twitter etc -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ site.twitter_handle }}" />
	<meta name="twitter:creator" content="{{ site.twitter_handle }}" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.subtitle }}{% endif %}" />
	<meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	{% if page.thumbnail %}
		<meta property="og:image" content="{{ page.thumbnail | absolute_url }}" />
		<meta property="og:image:secure_url" content="{{ page.thumbnail | absolute_url }}" />
		<meta property="twitter:image" content="{{ page.thumbnail | absolute_url }}" />
	{% endif %}

	{% if page.layout == "post" or "post" %}
		<meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}" />
		<meta property="twitter:title" content="{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}" />
	{% elsif page.layout == "home" %}
		<meta property="og:title" content="{{ site.title }}{% if page.landing-title %} - {{ page.landing-title }} {% endif %}" />
		<meta property="twitter:title" content="{{ site.title }}{% if page.landing-title %} - {{ page.landing-title }} {% endif %}" />
	{% else %}
		<meta property="og:title" content="{{ site.title }}" />
		<meta property="twitter:title" content="{{ site.title }}" />
	{% endif %}
</head>
